# ai-engine/requirements.txt

# Tell pip to look for CPU-only versions here first
--extra-index-url https://download.pytorch.org/whl/cpu

# Web Server
Flask
gunicorn
flask-cors

# Audio Processing
numpy
librosa
soundfile

# AI / Inference
groq

# Machine Learning (Will auto-select CPU version)
torch
torchaudio